.content-wrapper{ font-family:'Nunito', sans-serif;}

.button {
    border-radius:7px;
    font-family:'Nunito', sans-serif;
    background-color: #8a6e91; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.word {
    background-color: #47013c;

    width: 100px;
    height: 40px;
    color: black;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    margin-right: -3px;
    font-style: arial;
}
.word1 {
    background-color: #cc8baa;
    width: 220px;
    height: 70px;
    color: black;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    margin-right: -3px;
    font-style: arial;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.left {
  float: left;
  width: 500px;
  height: 600px;
  margin:10px;
  margin-left:60px;
  margin-top::20px;
}
.right {
  margin:20px;
  margin-left: 500px;
  margin-top: 20
  height: auto;
}


.tool-tip{
  color:#330112;
position: absolute;   
padding: 8px;
margin-top: -20px;
font-size: 1em;
background: #ddd;
pointer-events: none;

tool-tip span{
 display:block;        

tool-tip mark{
  font-weight:600;
  margin-left: 0.2em;
  background-color: transparent;
  color: inherit !important;

axis-label{
 font-size: 1.2em;

ircle{
&:hover {
   -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));      
   filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));  

}

.burst_div{
    float:center;
 }