 <form>
        <div class="form-control">
            <label for="username">用户名：</label>
            <input type="text" name="username" id="username" />
        </div>
        <div class="form-control">
            <label for="passwor">密码：</label>
            <input type="password" name="password" id="password" />
        </div>
        <button type="button">提交</button>
    </form>

    <script src="{{url_for('static', filename='js/jquery-2.1.4.js')}}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        console.log('aaaaaaa')
        
        $('button').click(function() {

            let username = $('#username').val()
            console.log(username)
            let password = $('#password').val()
            console.log(password)
            
            $.ajax({
                url: 'http://127.0.0.1:7113/register',
                type: 'POST',
                data: {
                    username: username,
                    password: password
                },
                success: function(res) {
                    console.log(res)
                }
            })
        })
    })

    </script>
