<!doctype html>
<html lang="en">
<head>
<title>Webville Tunes</title>
<meta charset="utf-8">
<link rel="icon"
      type="image/ico"
      href="http://wickedlysmart.com/favicon.ico">
<script>
window.onload = init;

function init() {
  var button = document.getElementById("addButton");
  button.onclick = handleButtonClick;
}

function handleButtonClick(e) {
  var textInput = document.getElementById("songTextInput");
  var songName = textInput.value;
  alert("Adding " + songName);

  if (songName == "") {
    alert("Please enter a song");
  }
  else {
    //alert("Adding " + songName);
    var li = document.createElement("li");
    li.innerHTML = songName;
    var ul = document.getElementById("playlist");
    ul.appendChild(li);

  }
}

</script>


</head>
<body>

<form>
<input type="text" id="songTextInput" size="40" placeholder="Song name">
<input type="button" id="addButton" value="Add Song">
</form>

<ul id="playlist">

</ul>

</body>
</html>



